$color-main:                  #231F20;
$color-yellow:                #F7D22D;
$color-gray:                  #F3F3F7;
$color-white:                 #ffffff;
$color-bg:                    #f1f1f1;
$button-color-hover:          #ffffff;
$weather-bg:                  #ffffff;


$screen-mobile:                 480px;